<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                             https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <!-- Context Configuration -->
    <context-param>
        <param-name>contextPath</param-name>
        <param-value>/autorent_war_exploded</param-value>
    </context-param>

    <!-- Welcome Page -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <!-- Filter Mappings -->
    <filter>
        <filter-name>AdminAuthFilter</filter-name>
        <filter-class>com.autorent.filters.AdminAuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AdminAuthFilter</filter-name>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>

    <!-- URL Mappings -->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.autorent.controllers.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserProfileServlet</servlet-name>
        <servlet-class>com.autorent.controllers.UserProfileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserProfileServlet</servlet-name>
        <url-pattern>/user/profile</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserBookingsServlet</servlet-name>
        <servlet-class>com.autorent.controllers.UserBookingsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserBookingsServlet</servlet-name>
        <url-pattern>/user/bookings</url-pattern>
    </servlet-mapping>
    
    <!-- Note: ProcessBookingServlet and ProcessPaymentServlet use @WebServlet annotations in the Java files -->

<!-- <servlet>
    <servlet-name>VehicleController</servlet-name>
    <servlet-class>com.autorent.controllers.VehicleController</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>VehicleController</servlet-name>
    <url-pattern>/admin/vehicles</url-pattern>
</servlet-mapping>
<servlet-mapping>
    <servlet-name>VehicleController</servlet-name>
    <url-pattern>/admin/vehicles/*</url-pattern>
</servlet-mapping> -->

    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/error/404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/WEB-INF/error/500.jsp</location>
    </error-page>

</web-app>
